<%- partial('_partial/head') %>
<body>
  <div id="container">
    <div id="wrap">
      <%- partial('_partial/header', null, {cache: true}) %>
      <div class="outer">
        <section id="main"><%- body %></section>
        <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
          <%- partial('_partial/sidebar', null, {cache: true}) %>
        <% } %>
      </div>
      <%- partial('_partial/footer', null, {cache: true}) %>
    </div>
    <%- partial('_partial/mobile-nav', null, {cache: true}) %>
    <%- partial('_partial/after-footer') %>
  </div>

  <!--百度统计-->
  <script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F99edfd839ec0a3ac70d6341c0f19d2ac' type='text/javascript'%3E%3C/script%3E"));
  </script>

  <!--cnzz-->
  <script type="text/javascript">
  var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
  document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F99edfd839ec0a3ac70d6341c0f19d2ac' type='text/javascript'%3E%3C/script%3E"));
  </script>

</body>
</html>